.imgPlaceholder {
  width: 150px;
  height: 150px;
  background-color: rgb(63, 123, 52);
}

.card-container {
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid wheat;
  color: wheat;
  padding: 0;
}
